html header {
   background-image: url(../recursos/consola.jpg);
   background-size:cover;
   height: 500px;      
}

footer{
    display: flex;
    justify-content:space-between;
    font-size: 40px;
    margin: 60px  250px
}

header ol{
    display: flex;
    font-size: 30px;
    color: white;
    justify-content:space-evenly;
    margin-left: 400px;    
}

.divCuadrado {
    width: 1600px;
    height: 450px;    
}

.divPosition{
    position: relative;
    top: 150px;
    left: 50px;
}

.fondoRojo {
    background-color: rgb(105, 9, 9);
}

.fondoGris {
    background-color: grey;
}

.fondoVerde {
    background-color: rgb(12, 31, 12);
}

.modeloCaja {
    margin:auto;
    padding: 30px 50px;
    justify-content: flex-end;
    display: flex;    
}

.letraBlanca {
    color: white;
}

body {
    width: 1440px;
    height: 2050px;
}

.divFondoNegro {
    background-color: black;
    width: 2010px;
    height: 2300px;    
}

header {
    width: 1840px;    
}

body i {
    bottom: 50px;
    right: 50px;
    font-size: 50px;
}

.divInline {
    display: inline;
}

.divDescarga {
   display: flex;
   justify-content:center;   
}

.divImage {
    display: flex;
    justify-content: end;
    margin-right: 210px;
    border-radius: 50px;
}

body section p {
    font-size: 25px;
    justify-content: center;
    margin-left: 200px;
    margin-right: 800px;   
    color: white; 
    position: absolute;
}

footer p{
    justify-content: flex-start;
}

body section h2 {
    padding-top: 200px;
    padding-left: 200px;
    color: white;
}

.imagenMaps{
    justify-content: flex-start ;
}

.iconoWapp {
    position:fixed;
    color: green;
    font-size: 60px;
}